.itemContainer {
  border: solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  .infoContainer {
    width: 66%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &.green {
    background-color: rgb(130, 240, 130);
    border-color: green;

    p {
      color: rgb(0, 88, 0);
    }
  }

  &.red {
    background-color: rgb(255, 175, 175);
    border-color: red;

    p {
      color: rgb(116, 0, 0);
    }
  }

  .checkBoxContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    // input {
    //   width: 30px;
    //   height: 30px;
    //   margin: auto;
    // }

    [type='checkbox'] {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    .customCheckbox {
      min-width: 2.2em;
      min-height: 2.2em;
      margin: auto 0;
      border: 3px solid rgb(233, 149, 39);
      background-color: rgb(207, 207, 207);
      box-shadow: inset 0 0 0 3px antiquewhite;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;
      display: inline-block;
    }

    [type='checkbox']:checked + label .customCheckbox {
      border-color: rgb(255, 169, 57);
      background: rgb(255, 179, 81);
      box-shadow: inset 0 0 0 4px white;
    }
  }
}
