.overviewContainer {
  min-width: 350px;
  background-color: rgb(243, 211, 169);
  border-radius: 5px;
  margin-top: 2rem;
  border-bottom: solid rgb(202, 145, 71) 4px;
}

.info {
  display: flex;
  justify-content: space-between;
  & > div {
    padding: 1rem;
    border: solid 3px;
    border-radius: 5px;
    width: 49%;
    font-size: large;
    font-weight: 500;
    margin: 5px;
  }

  .income {
    background-color: rgb(128, 255, 128);
    color: rgb(0, 49, 0);
    border-color: rgb(2, 102, 2);
  }
  .outcome {
    background-color: rgb(255, 124, 124);
    color: rgb(88, 0, 0);
    border-color: rgb(138, 2, 2);
  }
}

.balance {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  color: rgb(119, 79, 28);

  justify-content: space-between;
  .btn {
    border: solid 3px;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s ease;
    &.cancel {
      background-color: rgb(197, 197, 197);
      border-color: #333;
      color: #444;
    }
    &.add {
      background-color: rgb(241, 191, 255);
      color: rgb(121, 6, 156);
      border-color: rgb(189, 92, 192);
    }
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

.formAndBtn {
  display: flex;
  justify-content: center;
}
